body {
  background-color: #333;
  display: grid;
  font-family: 'Raleway', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.hero {
  background-image: url(images/hero_image.jpg);
  background-color: #333; 
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.main-nav ul {
  display: grid;
  grid-gap: 20px;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(5, 1fr);
  text-align: center;
  align-items: center;
  justify-content: center;
}

.main-nav li {
  display: block;
}

.main-nav a {
  text-decoration: none;
  color: #333333;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 3px;
}

.hero .main-tag {
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #f9f9f9;
  background-color: rgba(0,0,0,.5);
  margin: 200px 350px 0 350px;
  padding: 20px 0 60px 0;
  border-radius: 30px;
}

.main-tag h1 {
  font-family: 'playfair display';
  font-weight: bold;
  font-size: 72px;
  margin-bottom: -5px;
}

.main-tag button {
  background-color: rgba(0,0,0,.0);
  color: #f9f9f9;
  padding: 16px;
  border-radius: 30px;
  border: solid 3px #f9f9f9;
  font-size: 18px;
}